<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Galeria de Fotos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col
      size="6"
      *ngFor="let photo of photoService.photos; index as position"
      class="ion-text-center"
    >
      <ion-label>
        <p>{{ photo.filepath }}</p>
      </ion-label>
 
      <ion-img [src]="photo.webviewPath"></ion-img>
      <ion-fab vertical="bottom" horizontal="end">
        <ion-fab-button
          color="danger"
          size="small"
          (click)="showActionDeletePicture(photo, position)"
        >
          <ion-icon name="trash-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-col>
  </ion-row>
 
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <input
      type="file"
      #fileInput
      (change)="addPhotoToGallery()"
      hidden="true"
      accept="image/*"
    />
    <ion-fab-button (click)="addPhotoToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>